:host {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 12px;
}

.inputs {
  display: flex;
  gap: 4px;
}

.scpi-input {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

.log {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 70vw;
  padding: 8px;

  &:not(.wrap) {
    text-wrap: nowrap;
    overflow-x: scroll;
  }
}

.entry {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.idn {
  margin-bottom: 8px;
}

.options {
  display: flex;
  flex-direction: column;
}
