<div class="main">
  <div class="inputs">
    <input type="text" #scpiInput [(ngModel)]="inputText" autofocus (keydown.enter)="send()" (keydown.arrowUp)="arrowUp($event)" (keydown.arrowDown)="arrowDown($event)" />
    <button (click)="send()" [disabled]="sending$ | async">Send</button>
    <button (click)="systErr()" [disabled]="sending$ | async">:SYST:ERR?</button>
    @if (showSlowSendIndicator$ | async) {
      <div>...</div>
    }
  </div>

  <div class="log" [ngClass]="{'wrap': wrapLog()}">
    @for (entry of log(); track entry.time) {
      <div class="entry">
        {{ entry.time | date: 'medium' }}
        {{ entry.scpi }}
        {{ entry.response }}
        {{ entry.serverError }}
        <!-- TODO: fix track -->
        @for (error of entry.errors; track error) {
          {{ error }}
        }
      </div>
    }
  </div>
</div>

<div class="right-panel">
  @if (temp.hasValue()) {
    <div>Health: {{ temp.value() }}</div>
  }

  @if (idn.hasValue()) {
    IDN: {{ idn.value().response }}
  } @else {
    {{ idnError()?.error }}
  }

  @if (error()) {
    Error: {{ error() }}
  }

  <div class="options">
    <label>
      <input type="checkbox" [(ngModel)]="simulated" />
      Simulated
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="autoSystErr" />
      Auto :SYST:ERR?
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="wrapLog" />
      Wrap Log
    </label>
  </div>
</div>
