:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  flex: 0 0 auto;
  gap: 16px;

  .subtitle {
    font-size: var(--mat-sys-title-medium-size);
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

::ng-deep .tooltip {
  white-space: pre-line;
  text-wrap: nowrap;

  .mat-mdc-tooltip-surface {
    max-width: unset !important;
  }
}

.content {
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.inputs {
  display: flex;
  gap: 8px;

  .start-keys {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    button {
      height: 26px;
      width: 26px;
      border: none;
      border-radius: 4px;
    }
  }
}

.scpi-form {
  width: 600px;
  max-width: 600px;
  min-width: 200px;
}

.main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20vw;
  max-width: 1200px;
  min-height: 0;
}

.log-section {
  min-height: 150px;
  margin-top: 20px;
  padding: 2px;
  display: grid;
  grid:
    'left-upper-buttons log right-upper-buttons' auto
    '. log .' 1fr
    / auto 1fr auto;
  gap: 4px;

  .log {
    grid-area: log;
    background-color: var(--mat-sys-neutral10);
    border: 1px solid var(--mat-sys-outline-variant);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-left: 2px;

    &:not(.wrap) {
      text-wrap: nowrap;
      overflow-x: scroll;
    }

    &.wrap {
      word-wrap: anywhere;
    }

    &.wrap pre {
      white-space: pre-wrap;
    }
  }

  .right-log-buttons {
    grid-area: right-upper-buttons;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .left-log-buttons {
    grid-area: left-upper-buttons;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

pre {
  margin: 0;
}

.entry {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  position: relative;
  gap: 12px;

  &.selected {
    background-color: var(--mat-sys-on-primary);
  }

  &:hover {
    background-color: var(--mat-sys-on-secondary);
  }

  .scpi {
    flex-shrink: 1;
  }

  mat-progress-bar {
    align-self: center;
    max-width: 600px;
    flex-shrink: 1;
    margin: 0 8px;
  }

  mat-icon {
    display: inline;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }

  .timestamp-container {
    position: relative;
    flex-shrink: 0;

    .timestamp {
      font-weight: lighter;
      color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
    }

    mat-icon {
      position: absolute;
      margin-left: -20px;
    }
  }

  .serverError {
    color: var(--mat-sys-error);
  }

  .collapsed {
    color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
  }

  mat-icon.collapsed {
    margin-left: auto;
    margin-right: 16px;
    align-self: center;
  }

  .hover-buttons {
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    margin-right: 4px;
    z-index: 1000;
    transform: translateY(calc(-100% - 5px));

    display: flex;
    gap: 4px;
  }

  &:nth-child(-n+3) .hover-buttons {
    transform: translateY(25px);
  }
}

.log:hover .entry.selected .hover-buttons {
  opacity: 1;
  visibility: visible;
}

.right-panel {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow-y: auto;

  .right-panel-background {
    background-color: var(--mat-sys-on-primary);

    .right-panel-content {
      padding: 8px;
    }
  }
}

.idn {
  margin-bottom: 8px;
}

mat-hint {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-divider {
  height: 70%;
}

mat-toolbar {
  background-color: var(--mat-sys-on-secondary-fixed);
}

.wide-mini-fab-button {
  min-width: 60px;
  width: 60px;
}

.hidden {
  opacity: 0;
}

.script-header {
  display: flex;
  flex-direction: column;

  .script-inputs {
    display: flex;
    gap: 8px;

    .script-load-buttons {
      display: flex;
      gap: 8px;
    }
  }

  .script-progress {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: auto;
  }
}
