:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  flex: 0 0 auto;
  gap: 16px;

  .subtitle {
    font-size: var(--mat-sys-title-medium-size);
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

::ng-deep .tooltip {
  white-space: pre-line;
  text-wrap: nowrap;

  .mat-mdc-tooltip-surface {
    max-width: unset !important;
  }
}

.content {
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.inputs {
  display: flex;
  gap: 8px;

  .start-keys {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    button {
      height: 26px;
      width: 26px;
      border: none;
      border-radius: 4px;
    }
  }
}

.scpi-form {
  width: 600px;
  max-width: 600px;
  min-width: 200px;
}

.main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 0;
}

.log-section {
  min-height: 150px;
  margin-top: 20px;
  padding: 2px;
  display: grid;
  grid:
    "left-upper-buttons log right-upper-buttons" auto
    ". log ." 1fr
    / auto 1fr auto;
  gap: 4px;

  .log {
    grid-area: log;
    background-color: var(--mat-sys-neutral10);
    border: 1px solid var(--mat-sys-outline-variant);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &:not(.wrap) {
      text-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  .right-log-buttons {
    grid-area: right-upper-buttons;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .left-log-buttons {
    grid-area: left-upper-buttons;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.entry {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;

  .entry-text {
    flex-shrink: 1;
    display: flex;
    gap: 8px;
    cursor: text;
    margin-left: 2px;
  }

  &.selected {
    background-color: var(--mat-sys-on-secondary);
  }

  .timestamp-container {
    flex-shrink: 0;

    .timestamp {
      font-weight: lighter;
      color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
    }

    mat-icon {
      position: absolute;
      margin-left: -25px;
      font-size: 1rem;
    }
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow-y: auto;

  .right-panel-background {
    background-color: var(--mat-sys-on-primary);

    .right-panel-content {
      padding: 8px;
    }
  }
}

.idn {
  margin-bottom: 8px;
}

mat-hint {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* strong,span { */
  /*   padding: 1px; */
  /*   border-radius: 2px; */
  /*   background-color: var(--mat-sys-on-secondary); */
  /* } */
}

mat-divider {
  height: 70%;
}

mat-toolbar {
  background-color: var(--mat-sys-on-secondary-fixed);
}

.wide-mini-fab-button {
  min-width: 60px;
  width: 60px;
}

.hidden {
  opacity: 0;
}
