<mat-toolbar>
  <span>Sclipi Web</span>
  <mat-divider [vertical]="true"></mat-divider>
  @if (idn.data(); as data) {
    <span class="subtitle" [matTooltip]="idn.formatted()" matTooltipClass="tooltip">{{data.model}} - {{data.serial}}</span>
  }
  <span class="toolbar-spacer"></span>
  <mat-button-toggle-group name="toolbar-buttons" [(ngModel)]="activeToolbarButtons" multiple hideMultipleSelectionIndicator>
    <mat-button-toggle value="idn" matTooltip="IDN Information"><mat-icon>info</mat-icon></mat-button-toggle>
    <mat-button-toggle value="settings" matTooltip="Preferences"><mat-icon>settings</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
  <button matIconButton matTooltip="Help"><mat-icon>help</mat-icon></button>
</mat-toolbar>
<div class="content">
  <div class="main">
    <div class="inputs">
      <div class="start-keys">
        <button (click)="insertCharacter(':')" [disabled]="inputText().length > 1">:</button>
        <button (click)="insertCharacter('*')" [disabled]="inputText().length > 1">*</button>
      </div>
      <mat-form-field appearance="outline" class="scpi-form">
        <mat-label>SCPI Command/Query</mat-label>
        <input
          type="text"
          #scpiInput
          [(ngModel)]="inputText"
          autofocus
          (keydown)="onInputKeydown($event)"
          (keydown.enter)="send()"
          matInput
          [autocomplete]="auto"
          #autocompleteRef="autocompleteTrigger"
        />
        <mat-hint>Type <strong>:</strong> or <strong>*</strong> for auto-complete. <strong>Enter</strong> to submit. <strong>Arrow Up</strong> for history.</mat-hint>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" hideSingleSelectionIndicator>
          @if (inputText().length !== 0 && history.index() < 0) {
            <!-- TODO: better track -->
            @for (option of autocomplete(); track $index) {
              <mat-option [value]="option">
                @if (typeof option === 'string') {
                  {{ option }}
                } @else {
                  {{ getDisplayValue(option) }}
                }
                <mat-icon>
                  @if (typeof option === 'string') {
                    @if (option.endsWith('?')) {
                      question_mark
                    }
                  } @else {
                    @if ((!option.children || option.children.length === 0)) {
                      @if (option.content.text.endsWith('?')) {
                        question_mark
                      } @else {
                        send
                      }
                    }
                  }
                </mat-icon>
              </mat-option>
            }
          }
        </mat-autocomplete>
      </mat-form-field>
      <button
        class="send-button"
        matFab extended
        (click)="send()"
        [disabled]="inputText().length === 0 || (sending$ | async)"
      >
        @if (sending$ | async) {
          <mat-icon>schedule_send</mat-icon>
        } @else {
          <mat-icon>send</mat-icon>
        }
        Send
      </button>
      <button
        matFab extended
        matTooltip="Send :SYST:ERR? query to check for errors"
        (click)="systErr()"
        [disabled]="inputText().length !== 0 || (sending$ | async)"
      >
        <mat-icon>question_mark</mat-icon>
        :SYST:ERR?
      </button>
      <button
        matFab extended
        matTooltip="Select and run a command from your command history"
        [matMenuTriggerFor]="menu"
        [disabled]="inputText().length !== 0 || (sending$ | async)"
      >
        <mat-icon>history</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
        History
      </button>
      <mat-menu #menu="matMenu">
        @for (option of history.list(); track $index) {
          <button (click)="onHistoryEntrySelect(option)" mat-menu-item>
            {{ option }}
          </button>
        }
      </mat-menu>
    </div>

    @if (log().length > 0) {
      <div #logContainer class="log" [class.wrap]="preferences.wrapLog()">
        @for (entry of log(); track entry.time; let i = $index) {
          <div #entry class="entry">
            @if (preferences.showDate()) {
              <span class="timestamp" [matTooltip]="entry.elapsed | date: 's.SSS \'s\''">{{ entry.time | date: 'MMM dd, hh:mm:ss.SS a' }}</span>
            } @else {
              <span class="timestamp" [matTooltip]="entry.elapsed | date: 's.SSS \'s\''">{{ entry.time | date: 'hh:mm:ss.SS a' }}</span>
            }
            <b>{{ entry.scpi }}</b>
            @if (i === log().length - 1 && (showSlowSendIndicator$ | async)) {
              <div>...</div>
            }
            {{ entry.response }}
            {{ entry.serverError }}
            @for (error of entry.errors; track $index) {
              {{ error }}
            }
          </div>
        }
      </div>
    }
  </div>

  @if (activeToolbarButtons().length > 0) {
    <div class="right-panel">
      <div class="right-panel-background">
        <div class="right-panel-content">
          @if (activeToolbarButtons().includes('idn')) {
            @if (health.hasValue() && !health.value()) {
              <div>Health: Not OK!</div>
            }

            <h2>Info</h2>
            @if (idn.data(); as data) {
              <div class="idn">
                <b>Manufacturer:</b> {{data.manufacturer}}<br>
                <b>Model:</b> {{data.model}}<br>
                <b>Serial:</b> {{data.serial}}<br>
                <b>Version:</b> {{data.version}}<br>
              </div>
            } @else {
              @if (idn.error()) {
                <span>IDN Error: {{ idn.error()?.error }}</span>
              }
              <span>Connection failed. Check your Server Preferences</span>
            }
          }

          @if (activeToolbarButtons().includes('idn') && activeToolbarButtons().includes('settings')) {
            <mat-divider></mat-divider>
          }

          @if (activeToolbarButtons().includes('settings')) {
            <app-preferences></app-preferences>
          }
        </div>
      </div>
    </div>
  }
</div>
