<mat-toolbar>
  <span>Sclipi Web</span>
  @if (idn.data(); as data) {
    <span class="subtitle" [matTooltip]="idn.formatted()" matTooltipClass="tooltip">{{data.model}} {{data.serial}}</span>
  }
  <span class="toolbar-spacer"></span>
  <mat-button-toggle-group name="toolbar-buttons" [(ngModel)]="activeToolbarButtons" multiple>
    <mat-button-toggle value="idn"><mat-icon>info</mat-icon></mat-button-toggle>
    <mat-button-toggle value="settings"><mat-icon>settings</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
<div class="content">
  <div class="main">
    <div class="inputs">
      <mat-form-field appearance="outline" class="scpi-form">
        <mat-label>SCPI Command/Query</mat-label>
        <input
          type="text"
          #scpiInput
          [(ngModel)]="inputText"
          autofocus
          (keydown.enter)="send()"
          (keydown.arrowUp)="arrowUp($event)"
          (keydown.arrowDown)="arrowDown($event)"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-hint><strong>Colon (:)</strong> for auto-complete. <strong>Enter</strong> to submit. <strong>Arrow Up</strong> for history.</mat-hint>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @if (inputText().length !== 0 && historyIndex < 0) {
            @for (option of autocompleteHistory(); track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          }
        </mat-autocomplete>
      </mat-form-field>
      <button
        matButton="outlined"
        (click)="send()"
        [disabled]="inputText().length === 0 || (sending$ | async)"
      >
        Send
      </button>
      <button
        matButton="outlined"
        (click)="systErr()"
        [disabled]="inputText().length !== 0 || (sending$ | async)"
      >
        :SYST:ERR?
      </button>
      @if (showSlowSendIndicator$ | async) {
        <div>...</div>
      }
      <button
        matButton="outlined"
        [matMenuTriggerFor]="menu"
        [disabled]="inputText().length !== 0 || (sending$ | async)"
      >
        History<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for (option of history(); track $index) {
          <button (click)="onHistoryEntrySelect(option)" mat-menu-item>
            {{ option }}
          </button>
        }
      </mat-menu>
    </div>

    <div class="log" [class.wrap]="preferences.wrapLog()">
      @for (entry of log(); track entry.time) {
        <div class="entry">
          @if (preferences.showDate()) {
            <span class="timestamp">{{ entry.time | date: 'MMM dd, hh:mm:ss a' }}</span>
          } @else {
            <span class="timestamp">{{ entry.time | date: 'hh:mm:ss a' }}</span>
          }
          <b>{{ entry.scpi }}</b>
          {{ entry.response }}
          {{ entry.serverError }}
          @for (error of entry.errors; track $index) {
            {{ error }}
          }
        </div>
      }
    </div>
  </div>

  @if (activeToolbarButtons().length > 0) {
    <div class="right-panel">
      @if (activeToolbarButtons().includes('idn')) {
        @if (health.hasValue() && !health.value()) {
          <div>Health: Not OK!</div>
        }

        @if (idn.data(); as data) {
          <div class="idn">
            Manufacturer: {{data.manufacturer}}<br>
            Model: {{data.model}}<br>
            Serial: {{data.serial}}<br>
            Version: {{data.version}}<br>
          </div>
        } @else if (idn.error()) {
          IDN Error: {{ idn.error()?.error }}
        }

        @if (error()) {
          Error: {{ error() }}
        }
      }

      @if (activeToolbarButtons().includes('settings')) {
        <button (click)="clearHistory()">Clear History</button>
        <app-preferences></app-preferences>
      }
    </div>
  }
</div>
